@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Nunito', sans-serif;
  color: #767676;
  width: 100%;
}

body .certificates .form-certificates {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .certificates .form-certificates .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body .certificates .form-certificates .team-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .certificates .form-certificates .instituition-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .certificates .form-certificates .graduation-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .certificates .form-certificates .button-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .certificates .form-certificates label {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

body .certificates .form-certificates .inputText {
  font-size: 10px;
  font-weight: 400;
  padding: 10px;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
}

body .certificates .form-certificates .cert {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .certificates .form-certificates .cert #certificate {
  width: 100%;
  padding: 10px 30px 10px 10px;
  font-size: 10px;
  font-weight: 400;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
}

body .certificates .form-certificates .cert span {
  display: none;
}

body .certificates .form-certificates .cert .heart {
  height: 16px;
  top: 50%;
  right: 0px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .certificates .form-certificates #moreButton {
  margin-top: 20px;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  font-weight: 400;
  background-color: #373737;
  border: none;
  border-radius: 5px;
  padding: 8px;
  line-height: 16px;
}

body .certificates .form-certificates #moreButton img {
  height: 12px;
}

body .certificates .form-certificates #finishButton {
  margin-top: 20px;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  font-weight: 400;
  background-color: #373737;
  border: none;
  border-radius: 5px;
  padding: 8px;
  line-height: 16px;
}

body .certificates .form-certificates #finishButton img {
  height: 12px;
}

@media only screen and (min-width: 375px) {
  body .certificates .form-certificates .inputText {
    font-size: 12px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 12px;
  }
  body .certificates .form-certificates .cert .heart {
    height: 18px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 16px;
    line-height: 18px;
  }
  body .certificates .form-certificates #moreButton img {
    height: 14px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 16px;
    line-height: 18px;
  }
  body .certificates .form-certificates #finishButton img {
    height: 14px;
  }
}

@media only screen and (min-width: 425px) {
  body .certificates .form-certificates .inputText {
    font-size: 14px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 14px;
  }
  body .certificates .form-certificates .cert .heart {
    height: 20px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 16px;
    line-height: 18px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 16px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  body .certificates .form-certificates label {
    line-height: 22px;
    font-size: 20px;
  }
  body .certificates .form-certificates .inputText {
    font-size: 20px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .certificates .form-certificates .cert .heart {
    height: 24px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 20px;
    line-height: 22px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 20px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 1440px) {
  body .certificates .form-certificates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .certificates .form-certificates .conteiner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .certificates .form-certificates .certificates-conteiner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .certificates .form-certificates .cert {
    width: 45%;
    margin-bottom: 1vh;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .certificates .form-certificates .cert .heart {
    height: 28px;
  }
  body .certificates .form-certificates .team-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
  body .certificates .form-certificates .instituition-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
  body .certificates .form-certificates .graduation-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
  body .certificates .form-certificates label {
    width: 100%;
  }
  body .certificates .form-certificates .inputText {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 20px;
    line-height: 22px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 20px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 2560px) {
  body .certificates .form-certificates label {
    line-height: 30px;
    font-size: 28px;
  }
  body .certificates .form-certificates .inputText {
    font-size: 28px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .certificates .form-certificates .cert .heart {
    height: 32px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 28px;
    line-height: 30px;
  }
  body .certificates .form-certificates #moreButton img {
    height: 20px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 28px;
    line-height: 30px;
  }
  body .certificates .form-certificates #finishButton img {
    height: 20px;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nunito', sans-serif;
}

.list .addButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vh;
  height: 5vh;
  width: 90vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .addButton .btnAdd {
  border: white solid 2px;
  width: 50vw;
  height: 6vh;
  font-size: 1.5rem;
  background-color: #074EE8;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.list .showContainer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 90vh;
  margin: 10vh auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.list .showContainer .boderInput {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: #AAAAAA solid 2px;
}

.list .showContainer .boderInput .labelInput {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: start;
}

.list .showContainer .boderInput .label {
  font-size: 1.2rem;
  margin-bottom: 4%;
  text-align: start;
}

@media (min-width: 320px) and (max-width: 374px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Nunito', sans-serif;
  }
  .list .addButton .btnAdd {
    width: 50vw;
    height: 6vh;
    font-size: 1.5rem;
  }
  .list .showContainer {
    width: 90vw;
    height: 90vh;
    margin: 6vh auto 0;
  }
  .list .showContainer .boderInput {
    padding-left: 2%;
    padding-right: 2%;
  }
  .list .showContainer .boderInput .labelInput {
    font-size: 1.3rem;
  }
  .list .showContainer .boderInput .label {
    font-size: 1.2rem;
    margin-bottom: 12%;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .list .addButton .btnAdd {
    width: 43vw;
    height: 6vh;
    font-size: 1.5rem;
  }
  .list .showContainer {
    width: 90vw;
    height: 90vh;
    margin: 6vh auto 0;
  }
  .list .showContainer .boderInput {
    padding-left: 2%;
    padding-right: 2%;
  }
  .list .showContainer .boderInput .labelInput {
    font-size: 1.4rem;
  }
  .list .showContainer .boderInput .label {
    font-size: 1.3rem;
    margin-bottom: 10%;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .list .addButton .btnAdd {
    width: 35vw;
    height: 6vh;
    font-size: 1.5rem;
  }
  .list .showContainer {
    width: 90vw;
    height: 90vh;
    margin: 5vh auto 0;
  }
  .list .showContainer .boderInput {
    padding-left: 2%;
    padding-right: 2%;
  }
  .list .showContainer .boderInput .labelInput {
    font-size: 1.6rem;
  }
  .list .showContainer .boderInput .label {
    font-size: 1.4rem;
    margin-bottom: 10%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .list .addButton .btnAdd {
    width: 20vw;
    height: 6vh;
    font-size: 1.5rem;
  }
  .list .showContainer {
    width: 90vw;
    height: 90vh;
    margin: 6vh auto 0;
  }
  .list .showContainer .boderInput {
    padding-left: 2%;
    padding-right: 2%;
  }
  .list .showContainer .boderInput .labelInput {
    font-size: 1.8rem;
  }
  .list .showContainer .boderInput .label {
    font-size: 1.6rem;
    margin-bottom: 5%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .list .addButton .btnAdd {
    width: 17vw;
    height: 6vh;
    font-size: 1.5rem;
  }
  .list .showContainer {
    width: 90vw;
    height: 90vh;
    margin: 6vh auto 0;
  }
  .list .showContainer .boderInput {
    padding-left: 2%;
    padding-right: 2%;
  }
  .list .showContainer .boderInput .labelInput {
    font-size: 2rem;
  }
  .list .showContainer .boderInput .label {
    font-size: 1.8rem;
    margin-bottom: 4%;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .list .addButton .btnAdd {
    width: 15vw;
    height: 8vh;
    font-size: 2rem;
  }
  .list .showContainer {
    width: 90vw;
    height: 90vh;
    margin: 9vh auto 0;
  }
  .list .showContainer .boderInput {
    padding-left: 2%;
    padding-right: 2%;
  }
  .list .showContainer .boderInput .labelInput {
    font-size: 2.2rem;
  }
  .list .showContainer .boderInput .label {
    font-size: 2rem;
    margin-bottom: 4%;
  }
}

@media (min-width: 2560px) {
  .list .addButton {
    margin-top: 7vh;
  }
  .list .addButton .btnAdd {
    width: 13vw;
    height: 10vh;
    font-size: 2.9rem;
  }
  .list .showContainer {
    width: 90vw;
    height: 90vh;
    margin: 8vh auto 0;
  }
  .list .showContainer .boderInput {
    padding-left: 2%;
    padding-right: 2%;
  }
  .list .showContainer .boderInput .labelInput {
    font-size: 2.8rem;
  }
  .list .showContainer .boderInput .label {
    font-size: 2.5rem;
    margin-bottom: 2%;
  }
}
/*# sourceMappingURL=style.css.map */