body{
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
  
}

.principal{
    flex-direction: column;
    max-width: 100%;
    max-height: 100vh;
    padding: 50px;
    display: flex;

}


.header-principal{
    width: 100%;
    margin-bottom: 60px;
    align-items: center;

}
.title{
    font-size: 50px;
    margin-bottom: 60px;
}
.tab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    height: 100px;
    border-bottom: 1px solid;

}
.tablinks{
    border: none;
    background-color: white;
    font-size: 30px;
    
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 25px;


}
.full-name{
    margin-top: 40px;
    
}
#inp-name{
    width: 100%;
    border-radius: 10px;
    height: 60px;
   
}
.nickname{
    margin-top: 80px;

}

#inp-email{
    width: 130%;
    height: 60px;
    border-radius: 5px;
    font-size: 30px;

}
#inp-phone{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    font-size: 30px;
}

.button{
    background-color: #074EE8;
    border-radius: 4px;
    color: white;
    border: none;
    height: 70px;
    font-size: 25px;
    width: 150px;
    margin-top:80px;
   

}
.email{
    flex-direction: column;
    display: flex;
    margin-right: 150px;
    }
.phone{
    flex-direction: column;
    display: flex;

    }
.birthday{
    display:flex;
    flex-direction: column;
    margin-top:80px
}

.group-email{
    display: flex;
    margin-top:80px;
}
.text{
    margin-top: 40px;
    font-size: 50px;
}
.group-date{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

#inp-date{
    width: 115px;
    height: 60px;
    border-radius: 5px;
}

.date {
    display: flex;
    flex-direction: column;
}

.checkbox{
    margin-top: 80px;

}
#inp-checkbox{
    width: 40px;
    height: 40px;
    box-shadow: 0px 3px 6px black   
}

.btn{
    justify-content: flex-end;
    display: flex;
}
.group-linkedin{
    display: flex;
    margin-top:80px;
    width: 100%;

}
.group-github{
    display: flex;
    margin-top:80px;

}
.linkgit{
    display: flex;
    flex-direction: column;
    width: 100%;

}

#inp-linkgit{
    border-radius: 5px;
    height: 60px;
    font-size: 30px;
}

@media(max-width: 2560px){
    .group-email{
        justify-content: space-between;
    }


}