@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
.certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Nunito', sans-serif;
  color: #767676;
  width: 100%;
}

.certificates .form-certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.certificates .form-certificates .certificates-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.certificates .form-certificates .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.certificates .form-certificates .team-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.certificates .form-certificates .instituition-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.certificates .form-certificates .graduation-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.certificates .form-certificates .button-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.certificates .form-certificates label {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.certificates .form-certificates .inputText {
  font-size: 10px;
  font-weight: 400;
  padding: 10px;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
}

.certificates .form-certificates .cert {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vh;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.certificates .form-certificates .cert #certificate {
  width: 100%;
  padding: 10px 55px 10px 10px;
  font-size: 10px;
  font-weight: 400;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
}

.certificates .form-certificates .cert .heart {
  height: 16px;
  top: 50%;
  right: 25px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.certificates .form-certificates .cert .garbage {
  height: 16px;
  top: 50%;
  right: 0px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.certificates .form-certificates #moreButton {
  margin-top: 20px;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  font-weight: 400;
  background-color: #373737;
  border: none;
  border-radius: 5px;
  padding: 8px;
  line-height: 16px;
}

.certificates .form-certificates #moreButton img {
  height: 12px;
}

.certificates .form-certificates #finishButton {
  margin-top: 20px;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  font-weight: 400;
  background-color: #373737;
  border: none;
  border-radius: 5px;
  padding: 8px;
  line-height: 16px;
}

.certificates .form-certificates #finishButton img {
  height: 12px;
}

@media only screen and (min-width: 375px) {
  body .certificates .form-certificates .inputText {
    font-size: 12px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 12px;
  }
  body .certificates .form-certificates .cert .heart {
    height: 18px;
  }
  body .certificates .form-certificates .cert .garbage {
    height: 18px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 16px;
    line-height: 18px;
  }
  body .certificates .form-certificates #moreButton img {
    height: 14px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 16px;
    line-height: 18px;
  }
  body .certificates .form-certificates #finishButton img {
    height: 14px;
  }
}

@media only screen and (min-width: 425px) {
  body .certificates .form-certificates .inputText {
    font-size: 14px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 14px;
  }
  body .certificates .form-certificates .cert .heart {
    height: 20px;
  }
  body .certificates .form-certificates .cert .garbage {
    height: 20px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 16px;
    line-height: 18px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 16px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  body .certificates .form-certificates label {
    line-height: 22px;
    font-size: 20px;
  }
  body .certificates .form-certificates .inputText {
    font-size: 20px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 80px;
  }
  body .certificates .form-certificates .cert .heart {
    right: 40px;
    height: 24px;
  }
  body .certificates .form-certificates .cert .garbage {
    height: 24px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 20px;
    line-height: 22px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 20px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 1440px) {
  body .certificates .form-certificates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .certificates .form-certificates .conteiner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .certificates .form-certificates .certificates-conteiner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .certificates .form-certificates .cert {
    width: 45%;
    margin-bottom: 2vh;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 90px;
  }
  body .certificates .form-certificates .cert .heart {
    height: 28px;
  }
  body .certificates .form-certificates .cert .garbage {
    height: 28px;
  }
  body .certificates .form-certificates .team-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
  body .certificates .form-certificates .instituition-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
  body .certificates .form-certificates .graduation-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
  body .certificates .form-certificates label {
    width: 100%;
  }
  body .certificates .form-certificates .inputText {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 20px;
    line-height: 22px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 20px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 2560px) {
  body .certificates .form-certificates label {
    line-height: 30px;
    font-size: 28px;
  }
  body .certificates .form-certificates .inputText {
    font-size: 28px;
  }
  body .certificates .form-certificates .cert #certificate {
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 100px;
  }
  body .certificates .form-certificates .cert .heart {
    height: 32px;
  }
  body .certificates .form-certificates .cert .garbage {
    height: 32px;
  }
  body .certificates .form-certificates #moreButton {
    font-size: 28px;
    line-height: 30px;
  }
  body .certificates .form-certificates #moreButton img {
    height: 20px;
  }
  body .certificates .form-certificates #finishButton {
    font-size: 28px;
    line-height: 30px;
  }
  body .certificates .form-certificates #finishButton img {
    height: 20px;
  }
}

.bodyClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.bodyClass .list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nunito', sans-serif;
  margin: 0 5%;
}

.bodyClass .list .addButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  height: 10vh;
  width: 90vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bodyClass .list .addButton a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.bodyClass .list .addButton a .btnAdd {
  border: white solid 2px;
  width: 50vw;
  height: 100%;
  font-size: 1.5rem;
  background-color: #074EE8;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.bodyClass .list .showContainer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 5%;
}

.bodyClass .list .showContainer .boderInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bodyClass .list .showContainer .boderInput div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.bodyClass .list .showContainer .boderInput div .labelInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: #AAAAAA solid 2px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: start;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
}

@media (min-width: 320px) and (max-width: 374px) {
  .bodyClass .list .addButton a {
    height: 65%;
  }
  .bodyClass .list .addButton a .btnAdd {
    width: 50vw;
    height: 100%;
    font-size: 1.5rem;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .bodyClass .list .addButton a {
    height: 65%;
    width: 40%;
  }
  .bodyClass .list .addButton a .btnAdd {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .bodyClass .list .addButton a {
    height: 65%;
    width: 40%;
  }
  .bodyClass .list .addButton a .btnAdd {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bodyClass .list .addButton a {
    height: 70%;
    width: 25%;
  }
  .bodyClass .list .addButton a .btnAdd {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .bodyClass .list .addButton a {
    height: 75%;
    width: 20%;
  }
  .bodyClass .list .addButton a .btnAdd {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .bodyClass .list .addButton a {
    height: 85%;
    width: 15%;
  }
  .bodyClass .list .addButton a .btnAdd {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px) {
  .bodyClass .list .addButton {
    height: 15vh;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  .bodyClass .list .addButton a {
    height: 100%;
    width: 10%;
  }
  .bodyClass .list .addButton a .btnAdd {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
  }
  .bodyClass .list .showContainer {
    margin-bottom: 2%;
  }
  .bodyClass .list .showContainer .boderInput div .labelInput {
    font-size: 1.8rem;
  }
}

.header-principal {
  width: 100%;
  margin-bottom: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-principal .title {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: bold;
}

.header-principal .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  height: 50px;
  border-bottom: 2px solid #AAAAAA;
}

.header-principal .tablinks {
  border: none;
  background-color: white;
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .header-principal {
    margin-bottom: 70px;
  }
  .header-principal .title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .header-principal .tab {
    height: 40px;
  }
  .header-principal .tablinks {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  .header-principal {
    margin-bottom: 70px;
  }
  .header-principal .title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .header-principal .tab {
    height: 100px;
  }
  .header-principal .tablinks {
    font-size: 40px;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  width: 100vw;
  height: 100%;
}

body .principal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100vh;
  padding: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-principal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-size: 14px;
}

.form .full-name {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #767676;
}

.form #inp-name {
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  font-size: 16px;
  border: 3px solid #AAAAAA;
}

.form .nickname {
  margin-top: 40px;
  color: #767676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 2560px) {
  .form {
    font-size: 40px;
  }
  .form .full-name {
    margin-top: 10px;
  }
  .form #inp-name {
    height: 60px;
    font-size: 35px;
    margin-top: 20px;
  }
  .form .nickname {
    margin-top: 60px;
  }
}

.group-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.group-email .email {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #767676;
}

.group-email #inp-email {
  width: 10px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  border: 3px solid #AAAAAA;
}

.group-email .phone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #767676;
}

.group-email #inp-phone {
  width: 290px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  border: 3px solid #AAAAAA;
}

@media (min-width: 320px) {
  .group-email {
    margin-top: 30px;
  }
  .group-email .email #inp-email {
    width: 150px;
  }
  .group-email .phone #inp-phone {
    width: 120px;
  }
}

@media (min-width: 375px) {
  .group-email {
    margin-top: 30px;
  }
  .group-email .email #inp-email {
    width: 170px;
  }
  .group-email .phone #inp-phone {
    width: 140px;
  }
}

@media (min-width: 425px) {
  .group-email {
    margin-top: 30px;
  }
  .group-email .email #inp-email {
    width: 190px;
  }
  .group-email .phone #inp-phone {
    width: 160px;
  }
}

@media (min-width: 1024px) {
  .group-email {
    margin-top: 30px;
  }
  .group-email .email #inp-email {
    width: 400px;
  }
  .group-email .phone #inp-phone {
    width: 300px;
  }
}

@media (min-width: 2560px) {
  .group-email {
    margin-top: 60px;
  }
  .group-email .email #inp-email {
    height: 60px;
    margin-top: 20px;
    font-size: 35px;
    width: 800px;
  }
  .group-email .phone #inp-phone {
    height: 60px;
    margin-top: 20px;
    font-size: 35px;
    width: 700px;
  }
}

.birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.birthday .text {
  margin-top: 33px;
  font-size: 18px;
  color: #767676;
}

.birthday .group-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

.birthday .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #767676;
}

.birthday #day {
  width: 115px;
  border-radius: 5px;
  height: 40px;
  border: 3px solid #AAAAAA;
  margin-top: 10px;
  font-size: 16px;
}

.birthday #month {
  width: 115px;
  border-radius: 5px;
  height: 40px;
  border: 3px solid #AAAAAA;
  margin-top: 10px;
  font-size: 18px;
}

.birthday .day-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 250px;
}

.birthday #year {
  width: 115px;
  border-radius: 5px;
  height: 40px;
  border: 3px solid #AAAAAA;
  margin-top: 10px;
  font-size: 16px;
}

.birthday #inp-age {
  width: 115px;
  border-radius: 5px;
  height: 32px;
  border: 3px solid #AAAAAA;
  margin-top: 10px;
  font-size: 16px;
}

.birthday .year-age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 425px) {
  .birthday .group-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .birthday .day-month {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .birthday .day-month #day {
    width: 150px;
  }
  .birthday .day-month #month {
    width: 150px;
  }
  .birthday .year-age {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
  .birthday #year {
    width: 150px;
  }
  .birthday #inp-age {
    width: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .birthday .group-date
.day-month {
    margin-right: 100px;
  }
}

@media (min-width: 2560px) {
  .birthday {
    margin-top: 40px;
  }
  .birthday .text {
    margin-top: 30px;
    font-size: 50px;
  }
  .birthday .group-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
  .birthday .date
#day {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    font-size: 25px;
  }
  .birthday #month {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    font-size: 25px;
  }
  .birthday .day-month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 500px;
  }
  .birthday #year {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    font-size: 25px;
  }
  .birthday #inp-age {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    font-size: 25px;
  }
  .birthday .year-age {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.checkbox {
  margin-top: 45px;
}

.checkbox #inp-checkbox {
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 0px 3px 6px black;
          box-shadow: 0px 3px 6px black;
}

@media (min-width: 2560px) {
  .checkbox {
    margin-top: 120px;
  }
  .checkbox #inp-checkbox {
    width: 40px;
    height: 40px;
  }
}

.btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn .button {
  background-color: #074EE8;
  border-radius: 4px;
  color: white;
  border: none;
  height: 40px;
  font-size: 16px;
  width: 81px;
  margin-top: 54px;
}

.btn img {
  height: 10px;
}

.btn1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn1 .button1 {
  background-color: #074EE8;
  border-radius: 4px;
  color: white;
  border: none;
  height: 40px;
  font-size: 16px;
  width: 81px;
  margin-top: 160px;
}

@media (min-width: 2560px) {
  .btn .button {
    height: 100px;
    font-size: 35px;
    width: 180px;
    margin-top: 180px;
  }
  .btn img {
    height: 25px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .btn1 .button1 {
    margin-top: 130px;
  }
}

@media (min-width: 1024px) {
  .btn1 .button1 {
    margin-top: 280px;
  }
}

@media (min-width: 1440px) {
  .btn1 .button1 {
    margin-top: 300px;
  }
}

@media (min-width: 2560px) {
  .btn1 .button1 {
    height: 100px;
    font-size: 35px;
    width: 180px;
    margin-top: 820px;
  }
  .btn1 img {
    height: 25px;
  }
}

.group-linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  width: 100%;
}

.group-github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.linkgit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #767676;
}

#inp-linkgit {
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  margin-top: 15px;
  border: 3px solid #AAAAAA;
}

@media (min-width: 320px) and (max-width: 425px) {
  #inp-linkgit {
    font-size: 15px;
  }
}

@media (min-width: 2560px) {
  #inp-linkgit {
    font-size: 35px;
    height: 60px;
  }
}
/*# sourceMappingURL=style.css.map */