.birthday{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    .text{
        margin-top: 33px;
        font-size: 18px;
        color: #767676;
    }

    .group-date{
        display: flex;
        justify-content: space-between;
        margin-top: 14px;
        flex-wrap: wrap;
        
    }
    .date {
        display: flex;
        flex-direction: column;
        color: #767676;
    }
    
    #day{
        width: 115px;
        color: #767676;
        border-radius: 5px;
        height: 40px;
        border: 3px solid #AAAAAA;
        margin-top: 10px;
        font-size: 16px;
       
    }
    #month{
        width: 115px;
        color: #767676;
        border-radius: 5px;
        height: 40px;
        border: 3px solid #AAAAAA;
        margin-top: 10px;
        font-size: 18px;
       
    }
    .day-month{
        display: flex;
        width: 40%;
        justify-content: space-between;
       
        
    }

    #year{
        width: 115px;
        color: #767676;
        border-radius: 5px;
        height: 40px;
        border: 3px solid #AAAAAA;
        margin-top: 10px;
        font-size: 16px;

        
    }
    #inp-age{
        width: 115px;
        color: #767676;
        border-radius: 5px;
        height: 32px;
        border: 3px solid #AAAAAA;
        margin-top: 10px;
        font-size: 16px;
    }
    .year-age{
        display: flex;
        width: 40%;
        justify-content: space-between;
     
     
    }

}

@media (min-width: 320px) and (max-width: 425px){
    .birthday{
        .group-date{
            flex-direction: column;
        }
            .day-month{
                justify-content: space-between;
                width: 100%;
            
            #day{
                width: 130px;
            }
            #month{
                width: 130px;
            }
        }
            .year-age{
                justify-content: space-between;
                margin-top: 20px;
                width: 100%;
            }
            #year{
                width: 130px;
            }
            #inp-age{
                width: 120px;
            }
        
        }

}




@media (min-width: 2560px){
    .birthday{
        margin-top: 40px;
        .text{
            margin-top: 30px;
            font-size: 50px;
            
        }
    
        .group-date{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            
        }
        .date
        #day{
            width: 200px;
            height: 60px;
            margin-top: 20px;
            font-size: 25px;
           
        }
        #month{
            width: 200px;
            height: 60px;
            margin-top: 20px;
            font-size: 25px;
           
        }
        .day-month{
            display: flex;
            
            justify-content: space-between;
            
            
        }
    
        #year{
            width: 200px;
            height: 60px;
            margin-top: 20px;
            font-size: 25px;
    
            
        }
        #inp-age{
            width: 200px;
            height: 60px;
            margin-top: 20px;
            font-size: 25px;
        }
        .year-age{
            display: flex;
          
            justify-content: space-between;
         
         
        }
    
    }
}

