.btn{
    justify-content: flex-end;
    display: flex;
    
    .button{
    background-color: #074EE8;
    border-radius: 4px;
    color: white;
    border: none;
    height: 40px;
    font-size: 16px;
    width: 81px;
    margin-top: 54px;
    }
    img{
        height: 10px;
    }


}
.btn1{
    justify-content: flex-end;
    display: flex;

    .button1{
        background-color: #074EE8;
        border-radius: 4px;
        color: white;
        border: none;
        height: 40px;
        font-size: 16px;
        width: 81px;
        margin-top: 160px;
        }
      
}

@media (min-width: 2560px){
    .btn{
        .button{
        height: 100px;
        font-size: 35px;
        width: 180px;
        margin-top: 180px;
        }
        img{
            height: 25px;
        }
    
}
}   

@media (min-width: 320px) and (max-width: 768px){
    .btn1{
        .button1{
        margin-top: 130px;
        }
        
    
}
}

@media (min-width: 1024px){
    .btn1{
        .button1{
        margin-top: 280px;
        }
        
    
}
}
@media (min-width: 1440px){
    .btn1{
        .button1{
        margin-top: 300px;
        }
        
    
}
}

@media (min-width: 2560px){
    .btn1{
        .button1{
            height: 100px;
            font-size: 35px;
            width: 180px;
            margin-top: 820px;
        }
        img{
            height: 25px;
        }
    
}
}