.group-email{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;

    .email{
        flex-direction: column;
        display: flex;
        color: #767676;
        }
        #inp-email{
            width: 10px;
            height: 40px;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;
            border: 3px solid #AAAAAA;
        }
    .phone{
        flex-direction: column;
        display: flex;
        color: #767676;
        }
        #inp-phone{
            width: 290px;
            height: 40px;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;
            border: 3px solid #AAAAAA;
        }
       
}

@media (min-width: 320px) {
    .group-email{
        margin-top: 30px;
        .email{
            #inp-email{
              width: 150px;
            }
        }
            .phone{
             #inp-phone{
                width: 120px;
                }

            }
        }
    }

@media (min-width: 375px) {
    .group-email{
        margin-top: 30px;
        .email{
            #inp-email{
              width: 170px;
            }
        }
            .phone{
             #inp-phone{
                width: 140px;
                }

            }
        }
    }
@media (min-width: 425px) {
        .group-email{
            margin-top: 30px;
            .email{
                #inp-email{
                  width: 190px;
                }
            }
                .phone{
                 #inp-phone{
                    width: 160px;
                    }
    
                }
            }
        }
@media (min-width: 1024px) {
            .group-email{
                margin-top: 30px;
                .email{
                    #inp-email{
                      width: 400px;
                    }
                }
                    .phone{
                     #inp-phone{
                        width: 300px;
                        }
        
                    }
                }
            }
    

@media (min-width: 2560px){
    .group-email{
        margin-top: 60px;
        .email{
            #inp-email{
              height: 60px;
              margin-top: 20px;
              font-size: 35px;
              width: 800px;
            }
        }
            .phone{
             #inp-phone{
                 height: 60px;
                 margin-top: 20px;
                 font-size: 35px;
                width: 700px;
                }

            }
        }
    }
