.group-linkedin{
    display: flex;
    margin-top:5px;
    width: 100%;
}

.group-github{
    display: flex;
    margin-top:80px;
}

.linkgit{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #767676;
}
#inp-linkgit{
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    margin-top: 15px;
    border: 3px solid #AAAAAA;
}

@media (min-width: 320px) and (max-width: 425px){
    #inp-linkgit{
        font-size: 15px;
    }
}

@media (min-width: 2560px){
    #inp-linkgit{
        font-size: 35px;
        height: 60px;
    }

}