@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');


.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    .addButton {
        display: flex;
        margin-top: 3vh;
        height: 5vh;
        width: 90vw;
        align-items: center;
        justify-content: center;
        .btnAdd {
            border: white solid 2px;
            width: 25vw;
            height: 6vh;
            font-size: 1rem;
            background-color: #074EE8;
            color: white;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .tableContainer{
        text-align: center;
        display: flex;
        width: 90vw;
        margin: 20px auto 0;  
        table {
            width: 100%;
            height: 100%;
            border-collapse: collapse; 
            font-size: 0.9rem;
            .listTable {
                justify-content: space-between;     
                .headTable {
                    border: #AAAAAA solid 1px;                            
                }                  
                .dataTr {
                    .bodyTable {
                        border: #AAAAAA solid 1px;                 
                    } 
                    .optionRef:hover {
                        color: #074EE8;
                        transform: scale(1.1);
                        text-decoration: underline;
                    }
                    .optionRef {
                        cursor: pointer;                       
                    }
                }               
            }
        }
    }
}



.containerModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    top: 0px;
    left: 0px;
    background: rgba($color: black, $alpha: .5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    

    .modal {
        background: white;
        width: 60%;
        min-width: 20%;
        padding: 2%;
        border: 7px solid #074EE8;
        display: flex;    
        justify-content: center;
        text-align: center; 
        .textModal {
            display: flex;
            list-style-type: none;    
            justify-content: flex-start;

        }

    }

    .fecharBtn {
        padding: 10px;
        width: 60%;
        min-width: 20%;
        display: flex;
        justify-content:center;
        align-items: flex-end;
        .fecharModal {
            width: 5vw;
            height: 5vh;
            border-radius: 50%;
            text-align: center;
            background:none;
            color: white;
            border: none;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.9rem;
            font-family: 'Nunito', sans-serif;
            cursor: pointer;
        }
    }
}

.containerModal.mostrar {
        display: flex;
    }

    @keyframes modal {
        from {
            opacity: 0;
            transform: translate3d(0, -60px, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .mostrar {
        animation: modal .3s;
    }

    
