.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    .full-name{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        color: #767676;
    }
    #inp-name{
        border-radius: 5px;
        height: 40px;
        margin-top: 15px;
        font-size: 16px;
        border: 3px solid #AAAAAA;
    }
       
    .nickname{
        margin-top: 40px;
        color: #767676;
        display: flex;
        flex-direction: column;
    }
    }

 

@media (min-width: 2560px){
    .form{
        font-size: 40px;
        .full-name{
            margin-top: 10px;
        }
        #inp-name{
            height: 60px;
            font-size: 35px;
            margin-top: 20px;
        }
        .nickname{
            margin-top: 60px;
        }

    }

}

